<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>WillGive</title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/customJqueryValidation.css">
    <link rel="stylesheet" href="/assets/css/simple-sidebar.css" >
</head>
<body>
    <%activeMenu = "SignUp"%>
    <%include ../layout/navbar.ejs%>
<script>
    function checkImageSize(max_img_size) {

        var input = $('#myProfileIconInput')[0];
        // check for browser support (may need to be modified)
        if(input.files && input.files.length == 1)
        {
            if (input.files[0].size > max_img_size*1024)
            {
                alert("The file must be less than " + (max_img_size) + "KB");
                return false;
            }
        }

        return true;
    }

</script>
<div class="container sidebar-content" style="height:auto; min-height: 90%;">
    <div class="row row-offcanvas row-offcanvas-left">

        <!-- sidebar -->
        <div class="col-xs-6 col-sm-3 sidebar-offcanvas"   id="sidebar" role="navigation"  >
            <div data-spy="affix" data-offset-top="15" data-offset-bottom="30">
                <ul class="nav" style="color: #000000;" id="sidebar-nav">
                    <li class="sidebar-offcanvas" style="font-style: italic; font-size: 40px; padding-bottom: 10%" >
                        <img src="<%=user.imageIconUrl%>" height="80" width="80"/> &nbsp;
                        <strong> <%=user.firstName%></strong></li>
                    <li>
                        <a href="/users/account" style="color: #000000;"><strong>Edit Profile</strong></a>
                    </li>
                    <li  >
                        <a href="/users/settings" style="color: #000000;">Settings</a>
                    </li>
                    <li>
                        <a href="/users/paymentMethod" style="color: #000000;">Payment Method</a>
                    </li>
                    <li>
                        <a href="/users/contribution" style="color: #000000;">My Contributions</a>
                    </li>
                    <li>
                        <a href="/users/collections" style="color: #000000;">My Favorites</a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- main area -->
        <div class="col-xs-12 col-sm-9" data-spy="scroll"  style="padding-left: 5%" data-target="#sidebar-nav">



            <div class="row" style="min-height: 100px; height: auto">
                <h3 class="col-xs-3 col-xs-height col-top" style="margin-top: 0px; padding-bottom: 3%;" id="profilePicture">
                    Picture
                </h3>
                <div class="col-xs-2 col-xs-height col-top">
                    <img src="<%=user.imageIconUrl%>" height="80" width="80"/>
                </div>
                <div class="col-xs-6 col-xs-height col-top text-center">

                    <form action="/services/login/profilePictureUpload" id="profileIconUploadForm" method="post" enctype="multipart/form-data" onsubmit="return checkImageSize(200)">
                        <input type="hidden" name="MAX_FILE_SIZE" value="200" />
                        <input type="file" id="myProfileIconInput" name="profilePicture_<%=user.userId%>" accept="image/*"  required="true">
                        <div style="float: left">File size max 200K</div>
                        <div class="col-xs-4" style="padding-top: 1%;padding-bottom: 2%; float: left">
                            <button id="uploadProfilePictureButton" class="btn-sm btn-primary btn-block" type="submit" >Upload</button>
                        </div>
                    </form>

                </div>
            </div>
            <hr/>
            <div class="row">
                <h3 class="col-xs-3 col-xs-height col-top" style="margin-top: 0px; padding-bottom: 3%;"  id="profileBasicInfo">Basic Info</h3>
                <div class="col-xs-9 col-xs-height col-top" style="padding-bottom: 1%">
                    <div id="updateBasicInfoFailMessage" class="form-group" style="padding-bottom: 1%; display : none"">
                        <p style="margin-top: 0px; float: left;color: red; font-style:italic">Update basic info failed. Please try it again.</p><br>
                    </div>
                    <form id="userUpdateBasicInfoForm" class="form-signin" method="post" style="padding-top: 2%">

                        <div class="form-group" style="padding-bottom: 1%">
                            <label class="control-label col-xs-4" for="email">Email</label>
                            <div class="input-group col-xs-6"  >
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-envelope"></span>
                                </span>
                                <input type="text" id="email" name="email" class="form-control" placeholder="<%=user.email%>" readonly>
                            </div>
                        </div>

                        <div class="form-group" style="padding-bottom: 1%">
                            <label class="control-label col-xs-4" for="firstName">First Name</label>
                            <div class="input-group col-xs-6"  >
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-user"></span>
                                </span>
                                <input type="text" id="firstName" name="firstName" class="form-control" placeholder="<%=user.firstName%>" required>
                            </div>
                        </div>
                        <div class="form-group" style="padding-bottom: 1%">
                            <label class="control-label col-xs-4" for="lastName">Last Name</label>
                            <div class="input-group col-xs-6"  >
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-user"></span>
                                </span>
                                <input type="text" id="lastName" name="lastName" class="form-control" placeholder="<%=user.lastName%>" required>
                            </div>
                        </div>
                        <div class="col-xs-4" style="padding-top: 1%;padding-bottom: 2%; float: left">
                            <button id="submitUpdateBasicInfoButton" class="btn btn-primary btn-block" type="submit" >Update</button>
                        </div>
                    </form>
                </div>

            </div>
            <hr/>
            <div class="row">
                <h3 class="col-xs-3 col-xs-height col-top" style="margin-top: 0px;padding-bottom: 3%;"  id="profilePassword">Password</h3>
                <div class="col-xs-9 col-xs-height col-top" style="margin-top: 0px;">
                    <%if( user.provider=='facebook') { %>
                        <div class="form-group" style="padding-bottom: 1%">
                            <p style="margin-top: 0px; float: left;font-style:italic;color: red"><strong>You've logged in using Facebook with no password.</strong></p><br>
                        </div>
                    <% } else { %>
                        <div id="updatePasswordSuccessMessage" class="form-group" style="padding-bottom: 1%; display : none">
                            <p style="margin-top: 0px; float: left;color: green;font-style:italic">You've sucessfully updated your password.</p><br>
                        </div>
                        <div id="updatePasswordFailMessage" class="form-group" style="padding-bottom: 1%; display : none">
                            <p style="margin-top: 0px; float: left;color: red; font-style: italic">Update password failed. Please try it again.</p><br>
                        </div>
                    <% }%>
                    <form id="userUpdatePasswordForm" class="" method="post" style="padding-top: 2%">

                        <div class="form-group" style="padding-bottom: 1%">
                            <label class="control-label col-xs-4" for="oldPassword">Old Password</label>
                            <div class="input-group col-xs-6" >
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-lock"></span>
                                </span>
                                <input type="password" id="oldPassword" name="oldPassword" class="form-control" placeholder="" minlength="8" required>
                            </div>
                        </div>
                        <div class="form-group" style="padding-bottom: 1%">
                            <label class="control-label col-xs-4" for="newPassword">New Password</label>

                            <div class="input-group col-xs-6">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-lock"></span>
                                </span>
                                <input type="password" id="newPassword" name="newPassword" class="form-control" placeholder="" minlength="8" required>
                            </div>
                        </div>
                        <div class="form-group" style="padding-bottom: 1%">
                            <label class="control-label col-xs-4" for="confirmPassword">Confirm Password</label>

                            <div class="input-group col-xs-6">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-lock"></span>
                                </span>
                                <label for="confirmPassword" class="sr-only">Confirm Password</label>
                                <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" placeholder="" equalTo="#newPassword" minlength="8" required>
                            </div>
                        </div>
                        <div class="col-xs-4" style="padding-top: 1%; padding-bottom: 2%;float: left">
                            <button id="submitUpdateProfilePasswordButton" class="btn btn-primary btn-block" type="submit" >Change Password</button>
                        </div>
                    </form>
                </div>
            </div>
            <hr/>
        </div><!-- /.col-xs-12 main -->
    </div><!--/.row-->
</div><!--/.container-->
<%include ../layout/footer.ejs%>
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/jquery-validation/dist/jquery.validate.js"></script>

    <%if( user.provider=='facebook') { %>
        <script>
            $( document ).ready(function() {
                $('#submitUpdateProfilePasswordButton').prop('disabled','disabled');
                $('#oldPassword').prop('readonly',true);
                $('#newPassword').prop('readonly',true);
                $('#confirmPassword').prop('readonly',true);
            });
        </script>
    <% } else { %>
    <% }%>
<script>

    $.validator.addMethod(
            "maxfilesize",
            function (value, element) {
                return this.optional(element) || (element.files && element.files[0]
                        && element.files[0].size < 1024 * 1024 * 0.2);
            },
            'The file size can not exceed 200KB.'
    );


    $('#userUpdateBasicInfoForm').submit(function( event ) {
        event.preventDefault();

        console.log('click update basic info button');
        var updatedBasicInfo = {};
        $('#updateBasicInfoFailMessage').hide();
        if (!$("#userUpdateBasicInfoForm").valid()) {
            console.log("userUpdateBasicInfoForm is not valid!");
            return;
        }
        updatedBasicInfo.firstName = $('#firstName').val();
        updatedBasicInfo.lastName = $('#lastName').val();
        console.dir(updatedBasicInfo);
        $.post('/services/user/updateBasicInfo', {updatedData: updatedBasicInfo}, function(data) {
            //if success, will redirect the the same page with user data refreshed
            console.log('!!!!!!!!!!!!!!!!!!!!!!!!result-');
            console.dir(data);
            if(data=='failed'){
                $('#updateBasicInfoFailMessage').show();
            } else {
                window.location.href = "/users/account";
            }
        });

    });

    var fileUploadFormValidateParams = {
        rules: {
            profilePicture_<%=user.userId%> : {
                required : true,
                maxfilesize : 1024 * 1024 * 0.2
            }
        },
        messages: {
            profilePicture_<%=user.userId%> : {
                required : 'Required',
                maxfilesize : 'The file size can not exceed 200KB.'
            }
        }
    }
    var updatePasswordFormValidateParams = {
        errorClass: "my-error-class",
        rules: {
            oldPassword: {
                required: true,
                minlength: 8
            },
            newPassword: {
                required: true,
                minlength: 8
            },
            confirmPassword: {
                required: true,
                minlength: 8,
                equalTo : newPassword
            }
        },
        messages: {
            oldPassword: {
                required: "Required.",
                minlength: "Password at least 8 chars."
            },
            newPassword: {
                required: "Required.",
                minlength: "Password at least 8 chars."
            },
            confirmPassword: {
                required: "Required.",
                minlength: "Password at least 8 chars.",
                equalTo: "Password doesn't match."
            }
        }
    };
    $("#userUpdatePasswordForm").validate(
            updatePasswordFormValidateParams
    );
    //Update Password
    $('#userUpdatePasswordForm').submit(function( event ) {
        event.preventDefault();
        $('#updatePasswordSuccessMessage').hide();
        $('#updatePasswordFailMessage').hide();
        if (!$("#userUpdatePasswordForm").valid()) {
            console.log("userUpdatePasswordForm is not valid!");
            return;
        }
        var updatedData={};
        updatedData.oldPassword = $('#oldPassword').val();
        updatedData.newPassword = $('#newPassword').val();
        updatedData.confirmPassword = $('#confirmPassword').val();
        $.post('/services/user/updatePassword', {updatedData: updatedData}, function(data) {
            if(data=='success') {
                $('#updatePasswordSuccessMessage').show();
                $('#updatePasswordFailMessage').hide();
            } else {
                $('#updatePasswordSuccessMessage').hide();
                $('#updatePasswordFailMessage').html(data).css({'color': 'red', 'font-style' : 'italic'}).show();
            }
            $('input[type="password"]').val('');
        });
    });

</script>
</body>
</html>