<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#exampleNavbarCollapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">WillGive</a>
        </div>
        <% 
         var menuClass = new Array("#", "#","#","#","#","#");
         if(activeMenu == "Home") menuClass[0] = "active";
         if(activeMenu == "About") menuClass[1] = "active";
         if(activeMenu == "Contact") menuClass[2] = "active";
         if(activeMenu == "SignIn") menuClass[3] = "active";
         if(activeMenu == "SignUp") menuClass[4] = "active";
         if(activeMenu == "Charities") menuClass[5] = "active";

        %>
        <div class="collapse navbar-collapse" id="exampleNavbarCollapse">
            <ul class="nav navbar-nav">
                <li class="<%=menuClass[0]%>"><a href="/">Home</a></li>
                <li class="<%=menuClass[5]%>"><a href="/">Charities</a></li>
                <li class="<%=menuClass[1]%>"><a href="/aboutus">About Us</a></li>
                <li class="<%=menuClass[2]%>"><a href="/contactus">Contact Us</a></li>
            </ul>
            <% if ( 'undefined' == typeof user ) { %>
            <ul class="nav navbar-nav navbar-right">
                <li class="<%=menuClass[3]%>"><a href="/login/signin">SignIn</a></li>
                <li class="<%=menuClass[4]%>"><a href="/login/signup">SignUp</a></li>
            </ul>
            <% } else { %>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="" data-toggle="dropdown" class="dropdown-toggle">
                        <img src="<%=user.imageIconUrl%>" height="25" width="25"/>
                        &nbsp;<%=user.firstName%>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/users/account">Edit Profile</a></li>
                        <li><a href="/users/settings">Settings</a></li>
                        <li><a href="/users/paymentMethod">Payment Method</a></li>
                        <li><a href="/users/contribution">My Contributions</a></li>
                        <li class="divider"></li>
                        <li><a href="/login/logout">Logout</a></li>
                    </ul>
                </li>
            </ul>
            <% }%>
        </div>

    </div>
</nav>
<script src="bootstrap/dist/js/bootstrap.min.js"></script>

<div style="padding-bottom: 30px">
    &nbsp;
</div>